# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# Environment
.env
.env.local

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Testing
coverage

# Documentation
README.md
*.md

# CI/CD
.github
